{{ attach_library('tooltip/tooltip') }}

{% if carbon_footprint and text is defined %}

{% set greenStatus = carbon_footprint.green ? 'true' : 'false' %}

{% set options = {"content": "<div>
    <span class='text-center'><strong>Live Carbon Footprint Sustainability Data</strong><br>Data provided by <a href='api.websitecarbon.com'>api.websitecarbon.com API</a></span><br>
    <br>URL: <strong>" ~ carbon_footprint.url ~ "</strong>
    <br>Green Status: <strong>" ~ greenStatus ~ "</strong> 
    <br>Cleaner Than: <strong>" ~ carbon_footprint.cleanerThan ~ "%</strong> of the majority of websites
    <br>Bytes: <strong>" ~ carbon_footprint.bytes ~ "</strong>
    <br>Adjusted Bytes: <strong>" ~ carbon_footprint.statistics.adjustedBytes ~ "</strong>
    <br>Energy from Grid: <strong>" ~ carbon_footprint.statistics.co2.grid.grams|round(2) ~ " gCO2eq/kWh</strong>
    <br>Energy from Renewable: <strong>" ~ carbon_footprint.statistics.co2.renewable.grams|round(2) ~ " gCO2eq/kWh</strong>
  </div>", "placement": "right"} %}

  <div style="display: flex;align-items: center;">
  <span>{{ text }}</span><img src="modules/custom/wscf/icons/leaf.png" alt="Sustainability information" width="40" height="40" data-tooltip="{{ options|json_encode }}">
  </div>
{% endif %}
